* {
	user-select: text;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-drag: none;
	-webkit-user-select: text;
	transition: 0.15s all;
	/* outline: 1px solid red; */
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

::selection {
	background-color: var(--selection);
}

body,
#root {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#root {
	width: 95vw;
}

.switch_thumb[data-state='checked'] > .sun {
	display: none;
}

.switch_thumb[data-state='unchecked'] > .moon {
	display: none;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block-end: 5rem;
}

.gdsc {
	background: url(/images/mask.svg) no-repeat;
	background-size: 120%;
	padding: 0.4rem;
	background-position: -4rem;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
}

.gdsc::before {
	content: '';
	position: absolute;
	mask: url(/images/plane.svg);
	mask-size: cover;
	-webkit-mask: url(/images/plane.svg);
	-webkit-mask-size: cover;
	background-color: hsl(var(--primary));
	background-repeat: no-repeat;
	mask-size: 500px;
	mask-repeat: no-repeat;
	width: 37rem;
	height: 217px;
	top: -7vw;
	left: 30vw;
	z-index: -1;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle {
	animation: rotate 60s linear infinite;
}

.title:hover ~ .line {
	animation: widen 1s cubic-bezier(0.17, 0.67, 0.32, 1.3) forwards;
}

.title {
	cursor: default;
}

@keyframes widen {
	0% {
		width: 0;
	}
	100% {
		max-width: 100%;
	}
}

@media not all and (min-width: 768px) {
	.gdsc {
		/* background: url(/images/mask.svg); */
		/* -webkit-text-fill-color: black; */
		background-size: 100%;
		background-position: center;
		background-repeat: repeat-y;
	}

	.gdsc::before {
		width: 85vw;
		top: 0;
		mask-size: contain;
		left: 0;
		opacity: 0.75;
		z-index: -1;
		outline: 4px solid blue;
	}
}
